@media screen and (max-width: 600px) {
    .upper-container{
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items:center;
      }
      .btn{
          margin-right: 0;
          margin-bottom: 12px;
      }

  }