@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
body {
  background: #bdc3c7;
  font-family: Yantramanav;
}

* {
  box-sizing: border-box;
}
.upper-container{
  margin: 12px;
  flex-direction: row;
  display: flex;
}
.header-elements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.has-search .form-control , .custom-select{
  padding-left: 2.375rem;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0.6em;
  background-color: #fff;
  color: rgb(105, 105, 105);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.6em 1.8em;
  font-weight: 700;
  text-decoration: none;
  font-family: Yantramanav;
}
.custom-select{
  background-color: rgba(0,0,0,0.2);
}
.custom-select-container {
  position: relative;
  float: left;
  min-width: 200px;
}
select::-ms-expand {
     display: none;
}

.custom-select-container:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.custom-select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 82%;
  max-width: 320px;
  height: 40px;
  float: right;
  margin: 10px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
.form-control::placeholder {
  color: rgba(0,0,0,0.2);
  font-family: Yantramanav;
  font-weight: 700;
  opacity: 1; 
}

.has-search .form-control-feedback {
  position: absolute;
  font-weight: 200;
  z-index: 2;
  display: block;
  width: 2.375rem;
  line-height: 2.575rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.btn {
  margin-right: 17px;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.7em 1.8em;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-family: Yantramanav;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn i {
  font-size: 12px;
  font-weight: 700;
  margin-right: 7px;
}
.total-container{
 background-color: #fff;
 border-radius: 12px;
 margin: 12px;
}
.header-items{
  padding: 12px;
 }
 .header-items hr{
   border-color: #444;
   opacity: 0.1;
 }
.centered{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:24px
}
.secured-card {
  padding: 5px;
  flex: 0 1 300px;
  background-color: #fff ;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 400px;
  position: relative;
  color: #000;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  transition: all 0.4s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.2);
}
.secured-card:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.08);
}
.secured-card h5 {
  font-weight: 300;
  font-size: 30px;
}
.secured-card span  {
  padding: 12px;
  font-weight: 700;
}