@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.secured-card {
  background-color: #fff;
  border-radius: 4px;
  max-width: 400px;
  margin: 10% auto;
  position: relative;
  padding: 12px;
  color: #444;
  cursor: pointer;
}
.secured-card:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999999;
  transition: box-shadow 0.2s ease-in-out;
}
.secured-card:hover:before {
  box-shadow: 0 0 80px #999999;
}
.secured-card h5 {
  font-weight: 300;
  font-size: 30px;
}